@keyframes smoothNeonRotation {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    color: #fff; 

    background: linear-gradient(45deg, #ff00cc, #ff6600, #ff00ff, #00ffff);
    background-size: 200% 200%;
    animation: smoothNeonRotation 10s infinite;
}
h1 {
  font-size: 100px;
  text-align: center; 
  background-image: url("https://live.staticflickr.com/2780/4188517246_eda930657a_c.jpg")
    z-index: 1;
}
img {
  height: 200px;
  width: 200px;
}
h2, h3, h4, h5 {
  font-size: 50px;
  font-weight: bold;
}

caption {
  font-weight: bold;
  text-align: center;
}
footer {
    text-align: center;
